body, html{
    height: 100%;
    margin: 0;
}

.background{
    background-image: url(kepek/krumplihatter.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
}

.navigation{
    display: flex;
    align-items: center;
}

.nav-left, .nav-right{
    margin: 0;
    display: flex;
    flex: 1;
    width: fit-content;
}

.nav-left{
    justify-content: flex-start;
}

.nav-right{
    flex-direction: row;
    justify-content: flex-end;
}

h1 > a{
    text-decoration: none;
    background-color: transparent;
    color: cyan;
    margin-left: 1rem;
}

.navigation-avb{
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    color: cyan;
    background-color: transparent;
    border: none;
    margin-right: 1rem;
}

.hover-effect:hover{
    animation: glow 0.75s ease-in-out infinite alternate; 
}

@keyframes glow{
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #009aa3, 0 0 40px #009aa3, 0 0 50px #009aa3, 0 0 60px #009aa3, 0 0 70px #009aa3;
      }
      
      to {
        text-shadow: 0 0 20px #fff, 0 0 30px #006c72, 0 0 40px #006c72, 0 0 50px #006c72, 0 0 60px #006c72, 0 0 70px #006c72, 0 0 80px #006c72;
      }
}