body, html{
    height: 100%;
    margin: 0;
    background-color: rgb(145, 115, 79);
    overflow-x: hidden;
}

.background{
    background-image: url(kepek/krumplihatter.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
    height: 100%;
}

.navigation{
    display: flex;
    align-items: center;
    margin-bottom: 70px;
}

.nav-left, .nav-right{
    margin: 0;
    display: flex;
    flex: 1;
    width: fit-content;
}

.nav-left{
    justify-content: flex-start;
}

.nav-right{
    flex-direction: row;
    justify-content: flex-end;
    z-index: 10;
}

h1 > a{
    text-decoration: none;
    background-color: transparent;
    color: cyan;
    margin-left: 1rem;
}

.navigation-avb{
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
    color: cyan;
    background-color: transparent;
    border: none;
    margin-right: 1rem;
}

section{
    background-color: bisque;
    border-radius: 20px;
    bottom: 0%;
    left: 7%;
    padding: 10px;
    width: 35%;
    position: relative;
    height: 26%;
    line-height: 40px;
    margin-bottom: 20px;
    z-index: 6;
}


section:last-child{
    left: 60%;
    bottom: 0%;
    height: 20%;
}

.navigation h2{
    margin-bottom: 20px;
}

section img, h2{
    display: inline-block;
}

section > img{
    width: 20%;
    margin-left: 30px;
    border-radius: 15px;
}

aside > img{
    width: 10%;
    left: 85%;
    transition: 0.75s;
    position: absolute;
}

aside > img:active{
    transition: 0.75s;
    width: 25%;
    border-radius: 10px;
    left: 50%;
}

#video{
    width: 60%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 20%;
    bottom: 0%;
}

#video h2{
    position: absolute;
}

#video video{
    width: 60%;
    border-radius: 10px;
    left: 35%;
    position: absolute;
}

#video video:hover{
    cursor: none;
}

.dropdown ul{
    background-color: #FFFDD0;
    border-radius: 20px;
}

.dropdown li a{
    font-size: 1.3rem;
    font-weight: bold;
    color: cyan;
}

.dropdown li a:hover{
    animation: glow 1s ease-in-out infinite alternate;
    background-color: transparent;
    color: cyan;
}

.dropdown-menu{
    background-color: black;
    border: none;
    color: cyan;
}

#tippektrukkok{
    left: 15%;
    bottom: 0%;
    width: 70%;
    height: 50%;
    padding: 20px;
}

#tippektrukkok img{
    position: relative;
    left: 75%;
    bottom: 0%;
    transition: 0.5s;
}

#tippektrukkok img:active{
    width: 40%;
    left: 50%;
    z-index: 10;
    transition: 0.5s;
}

#tippektrukkok ol{
    font-weight: bold;
}

#tippektrukkok ol li{
    text-indent: 20px;
    line-height: 70px;
    font-size: 1.6rem;
}

#kozepcim{
    text-align: center;
    background-color: bisque;
    width: 30%;
    margin: auto;
    border-radius: 15px;
    padding: 10px;
}

.krumplipucoloDiv, .kesDiv, .pucoloGepDiv, .szivacsDiv, .KonyharuhaDiv{
    width: 45%;
    height: 55%;
    background-color: bisque;
    margin: 30px;
    padding: 20px;
    border-radius: 20px;
}

.krumplipucoloDiv, .kesDiv, .pucoloGepDiv, .szivacsDiv, .KonyharuhaDiv > p{
    font-size: 1.3rem;
    text-indent: 20px;
}

.krumplipucoloDiv > img{
    height: 40%;
    position: relative;
    left: 40%;
    bottom: -40%;
}

.krumplipucoloDiv > img:active{
    height: 60%;
    left: 35%;
    bottom: -30%;
}

.pucoloGepDiv > img{
    height: 40%;
    position: relative;
    bottom: -40%;
}

.pucoloGepDiv > img:active{
    height: 55%;
    left: 30%;
    bottom: -35%;
}

.kesDiv, .szivacsDiv{
    margin-left: auto;
}

.MIA-KRUMPLIK{
    width: 70%;
    height: 60%;
    margin: 10px;
    padding: 20px;
    background-color: bisque;
    position: relative;
    left: 15%;
    bottom: 0;
    margin-bottom: 10px;
    border-radius: 30px;
}

.MIA-KRUMPLIK > p{
    margin-top: 20px;
    text-indent: 30px;
    font-size: 1.4rem;
}

.MIA-KRUMPLIK > img{
    margin: 0;
    height: 40%;
    position: relative;
    left: 30%;
    bottom: -5%;
}

.MIA-KRUMPLIK > img:active{
    height: 50%;
    left: 50%;
}

.hover-effect:hover{
    animation: glow 1s ease-in-out infinite alternate; 
}

@-webkit-keyframes fallingPotato-fall {
    0% {
        top: -10%
    }
    100% {
        top: 100%
    }
}

@-webkit-keyframes fallingPotato-shake {
    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
    50% {
        -webkit-transform: translateX(80px);
        transform: translateX(80px)
    }
}

@keyframes fallingPotato-fall {
    0% {
        top: -10%
    }
    100% {
        top: 100%
    }
}

@keyframes fallingPotato-shake {
    0%,
    100% {
        transform: translateX(0)
    }
    50% {
        transform: translateX(80px)
    }
}

.potatoes {
    position: fixed;
    top: -10%;
    z-index: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-animation-name: fallingPotato-fall, fallingPotato-shake;
    -webkit-animation-duration: 10s, 3s;
    -webkit-animation-timing-function: linear, ease-in-out;
    -webkit-animation-iteration-count: infinite, infinite;
    -webkit-animation-play-state: running, running;
    animation-name: fallingPotato-fall, fallingPotato-shake;
    animation-duration: 10s, 3s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    animation-play-state: running, running
}

.potatoes:nth-of-type(0) {
    left: 10%;
    -webkit-animation-delay: 0s, 0s;
    animation-delay: 0s, 0s
}

.potatoes:nth-of-type(1) {
    left: 20%;
    -webkit-animation-delay: 1s, 1s;
    animation-delay: 1s, 1s
}

.potatoes:nth-of-type(2) {
    left: 30%;
    -webkit-animation-delay: 6s, .5s;
    animation-delay: 6s, .5s
}

.potatoes:nth-of-type(3) {
    left: 40%;
    -webkit-animation-delay: 4s, 2s;
    animation-delay: 4s, 2s
}

.potatoes:nth-of-type(4) {
    left: 50%;
    -webkit-animation-delay: 2s, 2s;
    animation-delay: 2s, 2s
}

.potatoes:nth-of-type(5) {
    left: 60%;
    -webkit-animation-delay: 8s, 3s;
    animation-delay: 8s, 3s
}

.potatoes:nth-of-type(6) {
    left: 70%;
    -webkit-animation-delay: 6s, 2s;
    animation-delay: 6s, 2s
}

.snowflake:nth-of-type(7) {
    left: 80%;
    -webkit-animation-delay: 2.5s, 1s;
    animation-delay: 2.5s, 1s
}

.potatoes:nth-of-type(8) {
    left: 90%;
    -webkit-animation-delay: 1s, 0s;
    animation-delay: 1s, 0s
}

@keyframes glow{
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #009aa3, 0 0 40px #009aa3, 0 0 50px #009aa3, 0 0 60px #009aa3, 0 0 70px #009aa3;
      }
      
      to {
        text-shadow: 0 0 20px #fff, 0 0 30px #006c72, 0 0 40px #006c72, 0 0 50px #006c72, 0 0 60px #006c72, 0 0 70px #006c72, 0 0 80px #006c72;
      }
}

@media screen and (max-width: 2500px) {
        
    #video{
        display: block;
    }

    #video video{
        bottom: 10%;
        left: 10%;
        width: 80%;
    }

}

@media screen and (max-width: 2200px) {
    
    section{
        width: 40%;
    }

    .MIA-KRUMPLIK > img{
        left: 30%;
    }

    .MIA-KRUMPLIK > img:active{
        left: 27%;
        height: 45%;
    }

}

@media screen and (max-width: 1921px) {
    
    section{
        width: 50%;
    }

    .MIA-KRUMPLIK > img{
        height: 30%;
        bottom: -10%;
    }

    .MIA-KRUMPLIK > img:active{
        height: 40%;
    }

    section:last-child{
        left: 50%;
        bottom: 0%;
        height: 25%;
    }

    aside > img{
        width: 15%;
    }

    #video{
        height: 70%;
    }

    #tippektrukkok{
        height: 55%;
    }

    #tippektrukkok > img:active{
        width: 50%;
        bottom: 40%;
        left: 45%;
    }

    .MIA-KRUMPLIK{
        height: 70%;
    }

    #kozepcim{
        width: 45%;
    }

    .krumplipucoloDiv, .kesDiv, .pucoloGepDiv, .szivacsDiv, .KonyharuhaDiv{
        width: 60%;
    }

}

@media screen and (max-width: 1520px) {
    
    section{
        width: 60%;
        height: 24%;
    }

    section:last-child{
        left: 40%;
        height: 20%;
        bottom: 0%;
        height: 27%;
    }

    aside > img{
        width: 20%;
        left: 70%;
    }

    #video{
        width: 70%;
    }

    #video video{
        width: 90%;
        left: 5%;
    }

    .MIA-KRUMPLIK{
        height: 80%;
    }

    .MIA-KRUMPLIK > img{
        height: 26%;
        left: 27%;
    }  

    .MIA-KRUMPLIK > img:active{
        left: 20%;
        height: 35%;
    }
    
    #kozepcim{
        width: 60%;
    }

    .krumplipucoloDiv, .kesDiv, .pucoloGepDiv, .szivacsDiv, .KonyharuhaDiv{
        width: 70%;
    }

}

@media screen and (max-width: 1270px) {
    
    section{
        height: 33%;
        bottom: 0%;
    }

    section > img{
        width: 30%;
    }

    #tippektrukkok{
        width: 75%;
        height: 60%;
        left: 13%;
    }

    #tippektrukkok > img{
        width: 25%;
        left: 68%;
    }

    #tippektrukkok > img:active{
        width: 50%;
        left: 40%;
    }

    section:last-child{
        height: 30%;
        bottom: 0%;
    }

    #video{
        width: 90%;
        left: 5%;
    }

    #video video{
        width: 90%;
        left: 5%;
        bottom: 2%;
    }

    .MIA-KRUMPLIK > img{
        height: 23%;
    }

    .MIA-KRUMPLIK > img:active{
        left: 20%;
        height: 28%;
    }

    .MIA-KRUMPLIK{
        height: 80%;
    }

    .krumplipucoloDiv > img{
        left: 30%;
    }

    .krumplipucoloDiv > img:active{
        left: 25%;
        height: 50%;
        bottom: -35%;
    }

    .pucoloGepDiv > img{
        left: 28%;
    }

    .pucoloGepDiv > img:active{
        height: 50%;
        left: 24%;
        bottom: -35%;
    }

}

@media screen and (max-width: 1080px) {
    
    .MIA-KRUMPLIK > img{
        height: 20%;
        left: 20%;
        margin-top: 10px;
    }

    .MIA-KRUMPLIK > img:active{
        height: 24%;
        left: 16%;
    }

}

@media screen and (max-width: 890px) {
    
    section{
        height: 30%;
        line-height: 24px;
    }

    section:last-child{
        height: 20%;
    }

    .nav-right{
        background-color: beige;
        width: 60px;
        height: 60px;
        flex: 0.1;
        margin: 10px;
        border-radius: 30px;
        flex-direction: column;
        transition: 0.5s;
    }

    .navigation-avb{
        color: beige;
        font-size: 0px;
    }

    .nav-right:hover .navigation-avb{
        color: cyan;
        font-size: 1.5rem;
    }

    .nav-right:hover{
        flex: 0.5;
        height: fit-content;
        width: fit-content;
        text-indent: 20px;
        transition: 0.5s;
    }

    #tippektrukkok{
        height: 70%;
        width: 80%;
        left: 10%;
    }

    #tippektrukkok > img{
        width: 40%;
        left: 50%;
    }

    #tippektrukkok > img:active{
        width: 45%;
        left: 45%;
    }

    #video video{
        width: 99%;
        left: 0.5%;
    }

    #video{
        height: 60%;
    }

    .MIA-KRUMPLIK{
        left: 10%;
        height: 80%;
        width: 80%;
    }

    .MIA-KRUMPLIK > img{
        height: 18%;
        left: 30%;
    }

    .MIA-KRUMPLIK > img:active{
        height: 22%;
        left: 25%;
    }

}

@media screen and (max-width: 720px) {
    
    section{
        height: 30%;
        left: 20%;
    }

    section:last-child{
        left: 20%;
        height: 30%;
        bottom: 0%;
    }

    #tippektrukkok{
        width: 90%;
        left: 5%;
        height: 75%;
    }

    #tippektrukkok > img:active{
        width: 70%;
        left: 20%;
    }

    .MIA-KRUMPLIK{
        height: 90%;
        width: 90%;
        left: 5%;
    }

    .MIA-KRUMPLIK > img{
        height: 20%;
        left: 20%;
    }

    .MIA-KRUMPLIK > img:active{
        height: 22%;
        left: 16%;
    }

    .krumplipucoloDiv, .kesDiv, .pucoloGepDiv, .szivacsDiv, .KonyharuhaDiv{
        width: 90%;
        margin: auto;
        margin-top: 20px;
    }

}

@media screen and (max-width: 600px) {

    .MIA-KRUMPLIK > img{
        height: 14%;
        left: 22%;
        bottom: 0%;
    }

    .MIA-KRUMPLIK > img:active{
        height: 17%;
        left: 15%;
    }

    #tippektrukkok{
        height: 80%;
    }
    
}

@media screen and (max-width: 500px) {
    
    #video{
        height: 40%;
        bottom: 0%;
    }

    section{
        width: 80%;
        left: 10%;
        bottom: 0%;
        height: 30%;
    }

    section:last-child{
        height: 30%;
        bottom: 0%;
        width: 80%;
        left: 10%;
    }

    #tippektrukkok{
        height: fit-content;
    }

    .MIA-KRUMPLIK{
        height: fit-content;
        width: 90%;
        left: 3%;
    }  

    .MIA-KRUMPLIK > img{
        left: 0%;
    }

    .MIA-KRUMPLIK > img:active{
        left: 0%;
        height: 15%;
    }

     .MIA-KRUMPLIK > img{
        display: none;
    } 

    .krumplipucoloDiv, .kesDiv, .pucoloGepDiv, .szivacsDiv, .KonyharuhaDiv{
        height: fit-content;
    }   

     .krumplipucoloDiv > img{
        display: none;
    }

    .pucoloGepDiv > img{
        display: none;
    } 

    #kozepcim{
        width: fit-content;
        margin: 10px;
    }
    

}



@media screen and (max-height: 1280px) {
    
    section{
        height: fit-content;
    }

    section:last-child{
        height: fit-content;
    }

}